<!DOCTYPE html>
 <html lang="en">
 <head>
  <meta charset="UTF-8">
  <title>List of Commands</title>
  <style>
			body, html {
			  height: 100%;
			  margin: 0;
			  display: flex;
			  justify-content: center;
			  align-items: center;
              background-color: #00284D;
              overflow-y: hidden;
			}
			ul {
			  width: 40%;
              height: 100vh;
              overflow-y: auto;
			  padding: 20px; 
			  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
              overflow-y: auto;
			}

            li{
            list-style-type: none;
            }

            p {
            max-width: 100%;
            line-height: 25px;
            margin-top: 10px;
            word-wrap: break-word;
            hyphens: auto;
            background-color: white;
            padding: 10px;
            list-style-type: none;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            }

            .container{

            position: absolute;
            left: 125px;
            background-color: grey;
            }

            .container2{

            position: absolute;
            right: 100px;
            background-color: grey;
            }

            * {box-sizing: border-box;}
            form {
            width: auto;
            float: right;
            margin-right: 30px;
            }
            input {
            width: 250px;
            height: 42px;
            padding-left: 15px;
            border-radius: 42px;
            border: 2px solid #324b4e;
            background: #F9F0DA;
            outline: none;
            position: relative;
            transition: .3s linear;
            }
            input:focus {
            width: 300px;
            }
            .scriptIdButton {
            width: 42px;
            height: 42px;
            background: none;
            border: none;
            position: absolute;
            top: 2px;
            right: 0;
            }
            .createButton{
            width: 250px;
            height: 42px;
            padding-left: 15px;
            border-radius: 42px;
            border: 2px solid #324b4e;
            background: #F9F0DA;
            outline: none;
            position: relative;
            transition: .3s linear;
            }
        

		  </style>
 </head>
 <body>
  <div class='container'>
  <button id = "createButton" class="createButton">Перейти к созданию скрипта</button>
  </div>

  <div class='container2'  >
  <input type="text" id="scriptId" placeholder="Введите id скрипта">
  <button id = "scriptIdButton" class="scriptIdButton"><img src="/templates/icon.png" alt="Button Image" width="20" height="20"></button>
  </div>

  <ul style="background-color: grey;">
  {{ range . }}
   <li><p><mark>ID</mark>: {{ .Id }},<br>
   Script: {{ .Script }},<br>
   ScriptResult: {{.ScriptResult}}</p></li>
  {{ end }}
  </ul>
 </body>
 <script>
        document.getElementById('createButton').addEventListener('click', function() {
            window.location.href = '/Command/Create/';
        });
        document.getElementById('scriptIdButton').addEventListener('click', function() {
            var id = document.getElementById('scriptId').value;
            console.log(id)
            if (id){
                window.location.href = '/Command/'+encodeURIComponent(id);
            }
        });

    </script>
 </html>